* {
 padding: 0;
 margin: 0;
 }

 body {
background-color: rgb(58, 212, 130);
 }

header {
 color: #b2d8b7;
 font-size: 20px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-align: center;
 background-color: #10651B;
 padding: 20px;
 height: 20%;
}

table {
 border-collapse: collapse;
 margin-left: 25%;
 background-color: #10651B;
 color: #b2d8b7;
 width: 58%;
 padding-bottom: 20px;
 letter-spacing: 1px;
 }

article{
 border: #10651B;
 padding-top: 10px;
background-color: rgb(79, 185, 125);
margin-top: 2%;
 color: blue;
}


.Java {
 font-size: 25px;
 padding: 10px;
}

.line {
 align-items: center;
 margin-left: 30%;
 width: 600px;
}

section {
 color: rgb(238, 238, 204);
}

 .frame {
  color: red;
  padding: 2%;
 }